@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*Fluid typography*/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-size: clamp(1.88rem, 1.07vw + 1.66rem, 2.63rem);
}

h3 {
  font-size: clamp(1.5rem, 0.36vw + 1.43rem, 1.75rem);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 2.75rem;
  height: 2.75rem;
  padding: 10px 5px;
  background-color: #d03b40;
  transform: translateY(25%);
  cursor: pointer;
}
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.hamburger__line {
  height: 4px;
  border-radius: 4px;
  background-color: #f5f0ed;
}

.nav {
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.links {
  display: none;
}
@media (min-width: 1200px) {
  .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
.links--mobile {
  display: none;
  position: absolute;
  top: 4rem;
  right: 0;
  border-radius: 0.5rem;
  padding: 2.5rem 0;
  width: 100%;
  max-width: 35rem;
  background-color: #ded6c0;
  text-align: center;
}
.links--show {
  display: block;
}
@media (min-width: 1200px) {
  .links--show {
    display: none;
  }
}
.links__li--mobile + .links__li--mobile {
  margin-top: 1rem;
}
.links__a {
  color: #f5f0ed;
  font-weight: 700;
}
.links__a--mobile {
  color: #d03b40;
}
.links__a:hover {
  opacity: 0.7;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4rem 0;
  background-color: #d03b40;
  color: #f5f0ed;
}
@media (min-width: 668px) {
  .card {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .card {
    padding: 8rem 0;
  }
}
.card--white {
  background-color: #ded6c0;
  color: #d03b40;
}
.card__container {
  width: 85%;
  max-width: 25.5rem;
  text-align: center;
}
.card__title {
  margin-bottom: 1.5rem;
}

.feature {
  margin: 0 auto 2rem;
  max-width: 27.5rem;
}
@media (min-width: 668px) {
  .feature {
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 40rem;
    margin-bottom: 0;
    text-align: left;
  }
}
.feature__title {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.feature__icon {
  width: 23%;
  margin: 0 auto 0.75rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background-image: url("../Imágenes/Fondo1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__text-container {
  width: 85%;
  max-width: 31.5rem;
  margin: 0 auto;
  text-align: center;
  color: #f5f0ed;
}
.header__title {
  font-weight: 800;
}
.header hr {
  width: 5.5rem;
  margin: 2rem auto;
  background-color: #f5f0ed;
}

@media (min-width: 670px) {
  .info-section {
    display: flex;
  }
}

.cta {
  padding: 6rem 0;
  background: url("../../Imágenes/Fondo2.jpg");
  background-size: cover;
  color: #f5f0ed;
  text-align: center;
}
@media (min-width: 1200px) {
  .cta {
    padding: 9rem 0;
  }
}
.cta__container {
  width: 85%;
  max-width: 31.5rem;
  margin: 0 auto;
}
.cta hr {
  width: 5.5rem;
  margin: 2rem auto;
  background-color: #f5f0ed;
}
.cta__button {
  margin-top: 2rem;
  border: 2px solid #f5f0ed;
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: #f5f0ed;
  cursor: pointer;
}
.cta__button:active {
  opacity: 0.3;
}
.cta__button:hover {
  opacity: 0.7;
}

.features-section {
  width: 90%;
  padding: 5rem 0;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .features-section {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    justify-content: center;
  }
}

.footer {
  padding: 3rem 0;
  background-color: #241d1b;
  color: #f5f0ed;
}
.footer__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 668px) {
  .footer__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
