*{
    box-sizing: border-box;
}

/*Estilos tipográficos*/
html{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 44px;
    font-weight: 800;
}

h2{
    font-size: 28px;
    font-weight: 800;
}

h3{
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
}

p{
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

span{
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #f5f0ed;
}

/*Block*/
.block{
    max-width: 100%;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.block__texto{
    text-align: center;
    margin: 40px 10%;
}
.block__separador{
    margin: 30px auto;
}

.block__parrafo{
    margin-top: 40px;
}

    /*Modificadores*/
    .block_white-text{
        color: #f5f0ed;
    }

    .block_red-text{
        color: #d03b40;
    }

    .block_background1{
        background-image: url(./Imágenes/Fondo1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .block_background2{
        background-image: url(./Imágenes/Fondo2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .block_redbg{
        background-color: #d03b40;
    }

    .block_graybg{
        background-color: #241d1b;
    }

    .block_beigebg{
        background-color: #ded6c0;
    }

    .block_whitebg{
        background-color: #f5f0ed;
    }

    .block_big{
        min-height: 600px;
    }

/*Header*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*navburger*/
 .navburger{
     cursor: pointer;
     width: 40px;
     height: 40px;
     background-color: #d03b40;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .navburger__line{
     width: 80%;
     height: 3px;
     margin: 3px auto;
     border-radius: 15px;
     background-color: #f5f0ed;
 }

/*Nav ul*/
.nav__ul{
     float: right;
     background-color: #d03b40;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: 0.5s display;
 }

.nav__li{
    color: #f5f0ed;
}

/*Botón*/
 .button{
    padding: 10px 30px;
    margin-top: 50px;
    border: 3px solid #f5f0ed;
    display: inline-block;
 }

/*Features*/
.features{
    background-color: #f5f0ed;
}

.feature{
    text-align: center;
    margin: 40px 10%;
}

.feature__img{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.feature__parrafo{
    margin-top: 10px;
}

/*Footer*/
.footer{
    padding: 20px 10px;
}

.footer__parrafo{
    text-align: left;
}