*{
    box-sizing: border-box;
}

/*Estilos tipográficos*/
html{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 44px;
    font-weight: 800;
    text-align: center;
}

h2{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding: 0px 140px;
}

h3{
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
    margin-top: 60px
}

p{
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-top: 60px
}

nav{
    display: none;
}

span{
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #f5f0ed;
}
/*Sección Principal*/
.seccion-principal{
    background-image: url(./Imágenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #f5f0ed;
    min-height: 600px;
}

.seccion-principal .caja-de-texto{
    margin: 100px 180px 0px;
    padding: 0;
    padding-bottom: 100px;
}

#separador{
    margin-top: 15px;
    margin-bottom: 40px;
}

header{
    display: block;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    padding-top: 60px;  
}

#logo{
    display: block;
    float: left;
}

#logo img{
    width: 500px;
    height: auto;
}

#nav-burger{
    display: block;
    float: right;
    background-color: #d03b40;
    color: #f5f0ed;
    width: 100px;
    height: 100px;
    line-height: 0.28;
    margin-top: 29px;
    border-radius: 15px;
    cursor: pointer;
}

.nav-linea{
    width: 80%;
    height: 8px;
    background-color: #f5f0ed;
    margin: 19px auto;
    border-radius: 15px;
}

/*Sección Ven al Brunch*/
.seccion-brunch{
    background-color: #d03b40;
    color: #f5f0ed;
    min-height: 600px;
}


/*Sección Celebra Tus Fiestas*/
.seccion-fiestas{
    background-color: #ded6c0;
    color: #d03b40;
    min-height: 600px;
}
/*Cajas de las dos secciones anteriores*/
.caja-de-texto{
    margin-top: 0;
    margin-bottom: 0;
    padding: 120px 70px;
}

/*Sección ven a Desayunar*/
.seccion-desayunar{
    background-image: url(./Imágenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ded6c0;
    
}

.seccion-desayunar a{
    display: block;
    text-decoration: none;
    margin: 30px auto;
    color: #f5f0ed;
    border: 5px solid #f5f0ed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 70px;
    cursor: pointer;
    transition: background-color 1s, color 2s, margin-top 1s ease-in-out;

}

.seccion-desayunar a:hover{
    background-color: rgba(245, 240, 237, 0.7);
    margin-top: 20px;
    color: #241d1b;
}

/*Sección Features*/
.seccion-features{
    background-color: #f5f0ed;
}

.seccion-features .caja-de-texto{
    padding: 70px;
}

.feature img{
    display: block;
    margin: 0 auto 40px;
}

/*Contacto*/
.contacto{
    background-color: #ded6c0;
    color: #d03b40;
    min-height: 700px;
}

.ubicacion{
    color: #ded6c0;
    background-color: #d03b40;
    min-height: 700px;
}

/*Footer*/
footer{
    background-color: #241d1b;
    color: #f5f0ed;
    padding: 30px;
}

footer p{
    margin: 0;
    text-align: left;
}