@use "../base/breakpoints";

.features-section {
  width: 90%;
  padding: 5rem 0;
  margin: 0 auto;

  @media (min-width: breakpoints.$l) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    justify-content: center;
  }
}
