@use "../base/colors";

.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 2.75rem;
  height: 2.75rem;
  padding: 10px 5px;
  background-color: colors.$red;
  transform: translateY(25%);
  cursor: pointer;

  &__line {
    height: 4px;
    border-radius: 4px;
    background-color: colors.$white;
  }
}
