$font-1: "Open Sans", sans-serif;
$font-size-sm: clamp(1.2rem, 0.7vw + 1.06rem, 1.69rem);
$font-size-base: clamp(1.5rem, 1.07vw + 1.29rem, 2.25rem);
$font-size-md: clamp(1.5rem, 0.36vw + 1.43rem, 1.75rem);
$font-size-lg: clamp(2.34rem, 2.36vw + 1.87rem, 4rem);
$font-size-xl: clamp(1.88rem, 1.07vw + 1.66rem, 2.63rem);
$font-size-xxl: clamp(3.66rem, 4.92vw + 2.68rem, 7.1rem);
$font-size-xxxl: clamp(4.58rem, 6.99vw + 3.18rem, 9.47rem);
